.filter {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(11px);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: .5rem 0;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		padding: .5rem;
		outline: none;
		border: none;
		background: none;

		&:hover {
			.card__svg {
				fill: red;
			}

			.card__svgPath {
				fill: red;
			}

			cursor: pointer;
		}
	}
}