* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #fff;
	background: #09090A;
}

ul {
	list-style: none;
	padding: 0;
}

#root {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem
}

.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #000;
}

.loader {
	position: relative;
	width: 21em;
	height: 21em;
	background-color: #000;
	filter: blur(0.2em) contrast(2);
	animation: loaderSpin 4s infinite linear;
	}

	@keyframes loaderSpin {
		to {
			transform: rotate(360deg);
		}
	}

	/* &>i {
		position: absolute;
		left: 10em;
		top: 10em;
		width: 1em;
		height: 1em;
		background-color: hsl(var(--hue, 0), 75%, 75%);
		border-radius: 50%;
		transform: rotateZ(var(--rz, 0)) translateY(5em);
		animation: iMove $duration var(--delay, 0s) infinite ease-in-out;

		@keyframes iMove {
			0% {
				transform: rotateZ(var(--rz, 0)) translateY(4em) translate(0, 0) scale(0);
			}

			2% {
				transform: rotateZ(var(--rz, 0)) translateY(4em) translate(0, 0) scale(1.25);
			}

			20% {
				transform: rotateZ(var(--rz, 0)) translateY(4em) translate(0, 0) scale(1.25);
			}

			90%,
			100% {
				transform: rotateZ(var(--rz, 0)) translateY(4em) translate(var(--tx, 0), var(--ty, 0)) scale(0);
			}
		} */

		/* @for $i from 0 to 72 {
			&:nth-child(#{$i + 1}) {
				--rz: #{$i * 5}deg;
				--delay: #{4s / 72 * $i - 4s};
				--tx: #{random(1000) / 250}em;
				--ty: #{random(1000) / 125 - 2.5}em;
				--hue: #{$i * 5};
			}
		} */
	/* } */